/*ini css*/


body{
font-family: geneva, Arial;
padding: 20px;
}

.main-title{
    text-align: center;
}

main{
display: flex;
text-align: left;
}


form{
    padding: 12px;
    background-color: aliceblue;
}

aside{
padding-left: 48px;

}
.form-btn-container{
margin-top: 24px;
margin-bottom: 16px;
}
.button{
    height: 32px;
    background-color: rgb(21, 135, 202);
    border: none;
    border-radius: 4px;
}

.bg-cornslik{
    background-color: rgb(7, 151, 183);
}
.bg-reset{
    background-color: red;
    color: rgb(0, 0, 0);
}
input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;

}
.input-section, .result-section {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}






